{{page-title "Songs"}}
{{outlet}}

{{!-- #each es como un for que recorre un array --}}
{{!-- el has es un objeto, crea un objeto --}}

{{#if @model.length}}
  <ul>
    {{#each
       (array
          (hash title='Perro negro' band='Led Zeppelin' rating=3)
          (hash title='Ledbetter amarillo' band='Pearl Jam' rating=4)
          (hash title='El pretendiente' band='Foo Fighters' rating=2)
       ) as |cacion|
    }}
      <li class='leading-loose'>
        {{cacion.title}} de {{cacion.band}}
        <span class='float-right'>
          {{cacion.rating}}
        </span>
      </li>
    {{/each}}
  </ul>
{{/if}}
